body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    background-image: url(/ProyectoIntegrador/Img/DF\ FondoMesa\ de\ trabajo\ 14.png);
    background-size: cover;
    background-attachment: fixed;
}
*/* {

    box-sizing: border-box;
}

.contenedor{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario{
background: #ffffff;
display: flex;
justify-content: center;
align-items: center;

}

img{
    color: #00d4ff;
    width: 30%;
}

.imglogin{
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="text"],
input[type="password"]{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
    outline: none;

}

.input-contenedor{
    margin-bottom: 150px;
    border: 1px solid #00d4ff;
}

.icon{
    
min-width: 50px;
text-align: center;
color: #00d4ff;

}
.button{
    
border: none;
width: 100%;
color: white;
font-size: 20px;
background: #00d4ff;
padding: 15px 20px;
border-radius: 5px;
cursor: pointer;
display: flex;
justify-content: center;
align-items: center;
text-decoration: none;
}

.button :hover{
    background: #090978;
    transition: 0.5s all;
}

p{
    text-align: center;

}
.link{
text-decoration: none;
color: #00d4ff;
font-weight: 600px;

}
.link :hover{

    color: #090978;
    transition: 0.5s all;
}

@media(min-width:768px){
.formulario{
    margin: auto;
    width: 500px;
    margin-top: 150px;
    border-radius: 2%;

}

} */

*{
    box-sizing: border-box;
}

body {
    background: url(/ProyectoIntegrador/Img/DF\ FondoMesa\ de\ trabajo\ 14.png)no-repeat;
    margin: 0;
    font-family: sans-serif;
}

h1 {
color: #ffffff;
text-align: center; 
position: relative;
top: 15%;

} 


.form-register{
    width: 95%;
    max-width: 500px;
    margin: auto;
    background: white;
    border-radius: 7px;
    position: relative;
    top: 15%;
}

.form__titulo{
background: #00aae4 ;
color: #ffffff;
padding: 20px;
text-align: center;
font-weight: 100;
font-size: 30px;
border-top-left-radius: 7px;
border-top-right-radius: 7px;
border-bottom: 5px solid darkblue;
display: flex;
justify-content: center;
align-items: center;
}



.contenedor-inputs{
    padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  
}

input {
    margin-bottom: 15px;
    padding: 15px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid darkgray;
}

.input-48{
    width: 48%;

}

.input-100{
    width: 100%;
}

.btn-enviar{
    background: darkblue;
    color: white;
    margin: auto;
    padding: 10px 50px;
    cursor: pointer;
    font-size: 20px;
    position: relative;
    bottom: 8px;
    text-decoration: none;
}

.btn-enviar:active{
    transform: scale(1.05);
}

.form__link{
    width: 100%;
    margin: 7px;
    text-align: center;
    font-size: 14px;
}


@media (max-width: 425px) {
    h1{
        display: none ; 
      
    } .form-register{
        position: relative;
        top: 20%;
    }
    
    
    }

    
@media (max-width: 375px) {
    h1{
        display: none ; 
      
    }.contenedor-inputs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    } .form-register{
        position: relative;
        top: 15%;
    }
    
    
    }